/* HTML Element Styles */
body {
    /* Typography */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    /* Visual */
    background-image: url("imgs/polygon.png");
  }
  html {
    /* Positioning */
    position: relative;
    /* Box-model */
    min-height: 100%;
    /* Smooth scrolling */
    scroll-behavior: smooth;
  }
  /* add space for fixed nav */
  main {
    margin: 80px 0;
  }
  /* create styles for use for all main boxes */
  .block {
    background-color: #882424;
    color: white;
    padding: 30px;
    margin-bottom: 30px;
  }
  .block-header {
    /* Typography */
    color: #ffffff;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
  }
  
  /* NAV BAR SETTINGS */
  #logo {
    font-family: Georgia, Times, "Times New Roman", serif;
    /* Typography */
    font-size: 24px;
    font-weight: bold;
    color: white;
    /* Visual */
    background: #882424;
  }
  /* override bootstrap hover color and border */
  .navbar-default .navbar-nav > li > a:hover {
    color: #ffffff;
  }
  .navbar-light .navbar-nav .nav-link {
    color: white;
  }
  /* Darkens selected nav */
  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, 
  .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(199, 199, 199);
  }
  /* Navbar color settings */
  .navbar {
    color: #ffffff;
    background: #aa5050;
    border: 10px;
  }
  /* Increases brand width */
  .navbar-brand {
    padding-left: 5px;
    padding-right: 5px;
  }
  /* --- End Styles for all HTML pages --- */
  
  /* --- PAGE-SPECIFIC STYLES --- */
  /* ABOUT-ME PAGE */
  .about-me-header {
    /* Positioning */
    margin-bottom: 33px;
    font-family: Georgia, Times, "Times New Roman", serif;
    /* Typography */
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
  }
  #about-image {
    /* Positioning */
    width: 100%;
    height: auto;
    margin-bottom: 25px;
  }
  #description {
    height: 325px;
    overflow:auto;
  }
  /* END ABOUT-ME PAGE */

  
  /* PORTFOLIO PAGE */
  .port-image {
    margin: 20px auto;  
  }
  .project-title {
    text-align: center;
    margin-top: 10px;
  }
  /* END PORTFOLIO PAGE */
  
  /* CONTACT PAGE  */
  /* Adds GitHub Link */
  #btn-github {
    background-image: url("imgs/github.png");
    width: 55px;
    height: 55px;
    margin-right: 5px;
    display: inline-block;
  }
  /* Adds LinkedIn Link */
  #btn-linkedin {
    background-image: url("imgs/linkedin.png");
    width: 55px;
    height: 55px;
    margin-right: 5px;
    display: inline-block;
  }
  /* Adds Stack Overflow Link */
  #btn-stack {
    background-image: url("imgs/stackover2.png");
    width: 55px;
    height: 55px;
    margin-right: 5px;
    display: inline-block;
  }
  /* Downloadable Resume */
  #btn-resume {
    background-image: url("imgs/pdf.png");
    width: 55px;
    height: 55px;
    margin-right: 5px;
    display: inline-block;
  }
  /* END CONTACT PAGE */
  
  /* BEGIN FOOTER */
  .footer {
    /* Positioning for sticky footer */
    position: fixed;
    bottom: 0;
    /* Box-model */
    width: 100%;
    height: 60px;
    /* Visual */
    background-color: #882424;
  }
  .text-muted-footer {
    /* Box-model */
    margin-top: 15px;
    /* Typography */
    color: #ffffff;
  }
  .two-toned-footer-color {
    /* Box-model */
    height: 6px;
    padding-top: 3px;
    /* Visual */
    background-color: #aa5050;
  }
  /* END FOOTER */